/* Users show page styles */
.user-show-avatar {
    width: 128px;
    height: 128px;
}

.job-title-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #2099E6;
    color: white;
    text-align: center;
}

.well.profile-block {
    color: #321E06;
   
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #E3C34F;
    border-color: #321E06;
}

.well.contact-info {
    background-color: #2099E6;
    border-color: #2e6da4;
}

/* Users index page styles */
.user-index-avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.well.color-bg {
    background-color: #DAD693;
}